## Task

埼玉県内の全鉄道駅の2020年4月（休日・昼間）の人口を、大きい順に並べ、最初の10件を示せ。

## prerequisites

In [68]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [69]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [70]:
sql = "WITH \
        pop2020 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2020' AND \
                d.month='04' \
        ) \
    SELECT pt.name, sum(pop2020.population) AS stationpop \
        FROM pop2020 \
        INNER JOIN adm2 AS poly ON st_within(pop2020.geom,poly.geom)\
        INNER JOIN planet_osm_point AS pt ON ST_Within(pt.way, ST_Transform(pop2020.geom, 3857))\
        WHERE poly.name_1 ='Saitama' \
            AND pt.railway = 'station' \
    GROUP BY pt.name\
    ORDER BY stationpop DESC LIMIT 10;"

## Outputs

In [71]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   name  stationpop
0    大宮    112490.0
1    川口     43673.0
2    川越     33884.0
3  武蔵浦和     26397.0
4    所沢     24941.0
5    浦和     23675.0
6   北浦和     23364.0
7    熊谷     23050.0
8  川口元郷     21696.0
9    草加     20461.0