## Task

埼玉県内の全鉄道駅において、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)を、小さい順に並べ、最初の10件を示せ。（出力は県名、駅名、人口増減率とすること）

## prerequisites

In [69]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [70]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [71]:
sql = "WITH \
        pop2020 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2020' AND \
                d.month='04' \
        ), \
        pop2019 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2019' AND \
                d.month='04' \
        ) \
    SELECT poly.name_1 AS 県名, pt.name AS 駅名, (sum(pop2020.population)-sum(pop2019.population))/sum(pop2019.population) AS 人口増減率 \
        FROM pop2020 \
        INNER JOIN pop2019 ON pop2020.name = pop2019.name \
        INNER JOIN adm2 AS poly ON st_within(pop2020.geom,poly.geom)\
        INNER JOIN planet_osm_point AS pt ON ST_Within(pt.way, ST_Transform(pop2020.geom, 3857))\
        WHERE poly.name_1 ='Saitama' \
            AND pt.railway = 'station' \
    GROUP BY poly.name_1,pt.name\
    ORDER BY 人口増減率 ASC LIMIT 10;"

## Outputs

In [72]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

        県名       駅名     人口増減率
0  Saitama      三峰口 -0.908116
1  Saitama    西武球場前 -0.872104
2  Saitama       白久 -0.823887
3  Saitama      西吾野 -0.750000
4  Saitama      大麻生 -0.692568
5  Saitama  さいたま新都心 -0.619451
6  Saitama       長瀞 -0.613607
7  Saitama       正丸 -0.526596
8  Saitama       大宮 -0.503498
9  Saitama      上長瀞 -0.452467