## Task

1都6県のそれぞれにおいて、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示せ（出力は県名、駅名、人口増減率とすること）。

## prerequisites

In [57]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [58]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [59]:
sql = "WITH \
        pop2020 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2020' AND \
                d.month='04' \
        ), \
        pop2019 AS ( \
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom \
            FROM pop AS d \
            INNER JOIN pop_mesh AS p \
                ON p.name = d.mesh1kmid \
            WHERE d.dayflag='0' AND \
                d.timezone='0' AND \
                d.year='2019' AND \
                d.month='04' \
        ), \
        station_rate AS(\
            SELECT poly.name_1 AS 県名, pt.name AS 駅名, (sum(pop2020.population)-sum(pop2019.population))/sum(pop2019.population) AS 人口増減率 \
            FROM pop2020 \
            INNER JOIN pop2019 ON pop2020.name = pop2019.name \
            INNER JOIN adm2 AS poly ON st_within(pop2020.geom,poly.geom)\
            INNER JOIN planet_osm_point AS pt ON ST_Within(pt.way, ST_Transform(pop2020.geom, 3857))\
            WHERE poly.name_1 in ('Tokyo','Gunma','Tochigi','Ibaraki','Chiba','Saitama','Kanagawa') \
                AND pt.railway = 'station'\
            GROUP BY poly.name_1,pt.name\
        ),\
        min_station_rate AS(\
            SELECT 県名, MIN(人口増減率) AS min_rate\
            FROM station_rate\
            GROUP BY 県名\
        )\
        SELECT s.県名, s.駅名, s.人口増減率\
        FROM station_rate s\
        INNER JOIN min_station_rate m ON s.県名 = m.県名 AND s.人口増減率 = m.min_rate;"

## Outputs

In [60]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

         県名                 駅名     人口増減率
0     Chiba                 西畑 -0.888514
1     Gunma                湯檜曽 -0.847619
2   Ibaraki               筑波山頂 -0.892368
3  Kanagawa           エントランス広場 -0.811359
4   Saitama                三峰口 -0.908116
5   Tochigi        あしかがフラワーパーク -0.918191
6     Tokyo       ベイサイド・ステーション -0.979428
7     Tokyo  ポートディスカバリー・ステーション -0.979428